{# Theme layout twig file #}
<!doctype html>
<html class="no-js" lang="{{ site.language }}">
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="all" href="{{ theme.path }}/assets/styles/styles.min.css">
    {{ wp_head }}
</head>
<body class="global {{ body_class }}">
    {% include 'generic/navigation.twig' %}
    <main class="global__container {% block mainClasses %}{% endblock %}" role="main">
        {% block content %}{% endblock %}
    </main><!-- .global__content -->
    {{ wp_footer }}
    <script src="{{ theme.path }}/assets/scripts/vendor.min.js" defer></script>
    <script src="{{ theme.path }}/assets/scripts/global.min.js" defer></script>
</body>
</html>
