{% set itemBackground = post.get_field('background_color') %}
{% set itemColor = post.get_field('color') %}
<article class="portfolio-item" data-portfolio-item="{{post.id}}">
    <figure class="portfolio-item__thumbnail">
        <img src="{{post.thumbnail.src}}" alt="Illustration of my work {{post.get_field('client')}}">
        <figcaption class="sr-only">{{__('Work illustration')}}</figcaption>
    </figure><!-- .portfolio-item__thumbnail -->

    <header class="portfolio-item__header"
        {% if itemBackground %}data-custom-background{% endif %}
        {% if itemColor %}data-custom-color{% endif %}>
        <h1 class="portfolio-item__title">{{post.title}}</h1>
        {% if post.terms %}
            <ul class="portfolio-item__categories">
                {% for item in post.terms %}
                    <li class="portfolio-item__category">{{item.title}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </header><!-- .portfolio-item__header -->

    <aside class="portfolio-item__aside">
        <dl class="portfolio-item__infos">
            {% if post.get_field('client') %}
                <dt class="portfolio-item__infos-name">{{__('Owner')}}</dt>
                <dd class="portfolio-item__infos-value">{{post.get_field('client')}}</dd>
            {% endif %}
            {% if post.get_field('year') %}
                <dt class="portfolio-item__infos-name">{{__('Year')}}</dt>
                <dd class="portfolio-item__infos-value">{{post.get_field('year')}}</dd>
            {% endif %}
            {% if post.get_field('project_uri') %}
                <dt class="portfolio-item__infos-name">{{__('Website')}}</dt>
                <dd class="portfolio-item__infos-value">{{post.get_field('project_uri')}}</dd>
            {% endif %}
        </dl><!-- .portfolio-item__list -->
    </aside><!-- .portfolio-item__aside -->

    <div class="portfolio-item__content">
        {{post.content}}
    </div><!-- .portfolio-item__content -->
</article><!-- .portfolio-item -->
<style>
    [data-portfolio-item="{{post.id}}"] [data-custom-background] {
        background-color: {{itemBackground}};
    }

    [data-portfolio-item="{{post.id}}"] [data-custom-color] {
        color: {{itemColor}};
    }
</style>
