{% set itemBackground = post.get_field('background_color') %}
{% set itemColor = post.get_field('color') %}

{% extends 'generic/layout.twig' %}

{% block content %}
    <article class="work" data-work-id="{{post.id}}">
        <div class="work__banner page-header__header">
            <header class="work__header page-header__title">
                <h1 class="work__title">{{post.title}}</h1>
            </header><!-- .work__header -->

            <aside class="work-infobox page-header__intro">
                {% if post.terms %}
                    <h1 class="work-infobox__title" id="a11y_categoriesTitle">{{__('Categories')}}</h1>
                    <ul class="work-terms" aria-labelledby="a11y_categoriesTitle">
                        {% for item in post.terms %}
                            <li class="work-terms__item">
                                <a href="{{item.link}}">{{item.title}}</a>
                            </li>
                        {% endfor %}
                    </ul><!-- .work__categories -->
                {% endif %}
                <dl class="work-infobox__infos">
                    {% if post.get_field('client') %}
                        <dt class="work-infobox__label">{{__('Client')}}</dt>
                        <dd class="work-infobox__value">{{post.get_field('client')}}</dd>
                    {% endif %}
                    {% if post.get_field('project_uri') %}
                        <dt class="work-infobox__label">{{__('Website')}}</dt>
                        <dd class="work-infobox__value">
                            <a href="{{post.get_field('project_uri')}}">See the project</a>
                        </dd><!-- .work-infobox__value -->
                    {% endif %}
                    {% if post.get_field('year') %}
                        <dt class="work-infobox__label">{{__('Year')}}</dt>
                        <dd class="work-infobox__value">{{post.get_field('year')}}</dd>
                    {% endif %}
                </dl><!-- .work__infos -->
            </aside><!-- .work__infobox -->
        </div><!-- .work__banner -->
    </article><!-- .work -->
    {% if itemBackground %}
        <style>
            [data-work-id="{{post.id}}"] [data-custom-background] {
                background-color: {{itemBackground}};
            }
        </style>
    {% endif %}
    {% if itemColor %}
        <style>
            [data-work-id="{{post.id}}"] [data-custom-color] {
                color: {{itemColor}};
            }
        </style>
    {% endif %}
{% endblock %}
